*{
    
    background-color: #012030;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav .logo {
    width: 150px;
    height: auto;
  }
  
  nav .anchors {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  nav .anchors a {
    text-decoration: none;
  }

  @media (max-width: 550px){
    nav{
    width: 100%;
    flex-wrap: wrap;



    .anchors{
    display: grid;
}
}
}
  

img{
    height: 80px;
    width: 100px;
    image-rendering: optimizeQuality;
}



a:hover{
    text-decoration: underline #60cc6c 2px;
}



h2, a, ul, ol, p, label, button, h4{
    color: white;
}


#inicio{
    margin-left: 10px;
    margin-top: 40px;
    display: flex;
}

.inicio{
    margin-left: 30px;
    width: 70%;
}

.inicio p{
    width: 50%;
}


.titulo-mision{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


#mision ul{
    text-align: center;
    list-style-position: inside;
    
}



#servicios {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #servicios .titulo-servicios {
    text-align: center;
    padding: 50px 0;
  }
  
  #servicios .iconos-servicios {
    display: flex;
    justify-content: center;
  }
  
  #servicios .icono-base,
  #servicios .icono-testing,
  #servicios .icono-analisis,
  #servicios .icono-tecnologia {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  #servicios .icono-base img,
  #servicios .icono-testing img,
  #servicios .icono-analisis img,
  #servicios .icono-tecnologia img {
    width: 30%;
    height: auto;
  }
  
  #servicios .icono-base p,
  #servicios .icono-testing p,
  #servicios .icono-analisis p,
  #servicios .icono-tecnologia p {
    margin-top: 20px;
  }
  
  @media (max-width: 550px) {
    #servicios .iconos-servicios {
      display: flex;
    }
  
    #servicios .icono-base,
    #servicios .icono-testing,
    #servicios .icono-analisis,
    #servicios .icono-tecnologia {
      width: 100%;
    }
  }



#propuesta-contacto{
    display: flex;
    margin-top: 40px;
}

.propuesta{
    margin-left: 30px;
}

.propuesta ul{
    width: 60%;
}

.icono-personas{
    width: 50%;
}

input{
    margin-top: 20px;
    margin-left: 15px;
    border-color: #60cc6c;
    border-style: solid;
}



button{
    border-color: #60cc6c;
    border-style: solid;
    text-align: center;
}

.boton-enviar{
    display: flex;
    justify-content: center;
}


h4{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

@media (max-width:550px){
    
    li{
        padding: 10px;
    }

    .propuesta{
        margin-right: 15px;
    }

    
}
